@import "tailwindcss";

@theme {
  --color-primary: #E19859;
  --color-primary-hover: #C97F46;
  --color-primary-dim: #FFF5EC;

  --font-hand-writing: "Beth Ellen", "sans-serif"; 

  --color-secondary: #FFA3A14D;
  --color-secondary-outline: #FFA3A1;
  --color-secondary-hover: #E84A47;

  --color-tertiary: ##FFA3A138;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}